.button {
  background-color: #3B5998;
  color: #fff;
  padding: 15px;
  border-width: 0;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: #1542A0;
}
